<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--抽取重复设置的数据源-->
    <properties resource="db.properties"></properties>


    <!--设置日志-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--给数据源写别名-->
    <!--方式一 挨个起别名-->
    <!--方式二 给包起别名-->
    <typeAliases>
        <package name="com.itwang.pojo"/>
<!--        <package name="com.itwang.bean"/>-->
    </typeAliases>

    <!--配置处理器-->
<!--    <typeHandlers>-->
<!--        <typeHandler handler="com.itwang.handler.MyTypeHandler"></typeHandler>-->
<!--    </typeHandlers>-->

    <!--插件配置-->
<!--    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            &lt;!&ndash;helperDialect 方言&ndash;&gt;
            <property name="helperDialect" value="mysql"/>
            &lt;!&ndash;reasonable合理化&ndash;&gt;
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>-->

    <!--环境配置-->
    <!--带数据源的-->
    <environments default="development">
        <environment id="development">
            <!--事务管理器-->
            <transactionManager type="JDBC"/>
            <!--数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="${driverClassName}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

    </environments>

    <!--加载映射文件-->
    <!--方式一-->
    <!--    <mappers>-->
    <!--        <mapper resource="com/itwang/mapper/UserMapper.xml"/>-->
    <!--    </mappers>-->
    <!--方式二-->
    <!--    <mappers>-->
    <!--        <mapper class="com.itwang.mapper.UserMapper"></mapper>-->
    <!--    </mappers>-->
    <!--方式三-->
    <mappers>
        <!--        <mapper class="com.itwang.mapper.UserMapper"></mapper>-->
        <!--        <mapper class="com.itwang.mapper.CustomMapper"></mapper>-->
        <package name="com.itwang.mapper"/>
    </mappers>


</configuration>